/* inner-page_css */


/*--------------- about-1
/*------------------------------------------------------------------------------*/
.about-image_block1 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.about-image_block1:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-top: 238px solid transparent;
    border-bottom: 0px solid transparent;
    border-left-width: 208px;
    border-left-style: solid;
}
.about-image_block1 .ttm-icon{
    transform: translate(55px, -72px);
    margin: 0;
    height: 62px;
    width: 62px;
    line-height: 62px;
    position: absolute;
}
.about-image_block1 .ttm-icon i {
    font-size: 40px;
}
.about-image_block-inner{
    position: relative;
    z-index: 1;
    padding-left: 30px;
    padding-bottom: 10px;
}
.about-image_block-inner h5{
    font-size: 15px;
    line-height: 20px;
}
.about-image_block-inner .big {
  font-size: 25px;
  line-height: 1;
  display: inline-block;
}
.about-qoute blockquote {
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 500;
    margin: 0px;
    padding: 30px 25px 30px 35px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(43, 52, 59, 0.1);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    position: relative;
}
.about-qoute blockquote footer h5{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.about-qoute blockquote cite {
    display: block;
    font-size: 12px;
    line-height: 24px;
}
.about-qoute blockquote:before {
    position: absolute;
    content: '"';
    font-size: 115px;
    font-weight: 400;
    right: 30px;
    bottom: 20px;
    font-style: normal;
    display: block;
    margin-top: 10px;
    font-family: 'Open Sans';
    opacity: 0.15;
}


/*--------------- about-2
/*------------------------------------------------------------------------------*/
.about-image_block2 {
    position: absolute;
    left: 0;
    right: 60.8%;
    bottom: 15%;
}
.about-image_block2 .about-image_block-inner {
    position: relative;
    z-index: 1;
    padding: 0;
}
.about-image_block2 .about-image_block-inner h5{
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
}
.action-section .form_block h5{
    font-size: 36px;
    line-height: 46px;
}
.action-section .subscribe_form input[type="email"] {
    background-color: #fff;
    width: 100%;
    height: 65px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,.04);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 12px 0 rgba(0,0,0,.04);
    font-weight: 500;
    padding-left: 22px;
}
.action-section .subscribe_form button[type="submit"] {
    height: 55px;
    width: 179px;
    border: 0;
    outline: none;
    z-index: 21;
    padding: 0;
    right: 0;
    border-radius: 0px;
    box-shadow: 0 0;
    font-weight: 500;
    font-size: 13px;
   position: absolute;
    top: 5px;
    right: 5px;
}


/*--------------- about-3
/*------------------------------------------------------------------------------*/
.cta-section h5{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;
}
.cta-section h2{
    font-size: 38px;
    line-height: 48px;
}
.cta-section .ttm-icon{
    width: 62px;
    height: 62px;
    border-width: 2px;
}
.cta-section .ttm-icon i {
    font-size: 32px;
    padding-left: 2px;
}
@media (max-width: 991px){

    .cta-section h2 {
        font-size: 34px;
        line-height: 44px;
    }
}


/*--------------- about-5
/*------------------------------------------------------------------------------*/
.about-image_block3 .entry-header h5{
    font-size: 15px;
    line-height: 33px;
    font-weight: 400;
    color: inherit;
    margin-bottom: 10px;
}
.about-image_block3 .entry-header h4{
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 10px;
}
.about-image_block3 .entry-content h5{
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 10px;
}


/*--------------- project single-1
/*------------------------------------------------------------------------------*/
.ttm-pf-single-detail-box{
    display: block;
    height: 100%;
    padding: 30px 30px 20px;
}
.ttm-pf-single-title h5{
    position: relative;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 17px;
}
.ttm-pf-single-detail-box ul{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    border-top: 1px solid #e8e8e8;
    margin-top: 22px;
}
.ttm-pf-single-detail-box ul li{
    position: relative;
    display: block;
    display: flex;
    padding: 9px 0px;
    font-size: 15px;
}
.ttm-pf-single-detail-box ul li i{margin-right: 10px;font-size: 16px;}
.ttm-pf-single-detail-box ul li span{
    font-weight: 600;
    margin-right: 5px;
    -ms-flex: 0 0 43.333333%;
    flex: 0 0 43.333333%;
    color: #252525;
}
.ttm-pf-view-left-image .ttm-pf-single-content-area h2{
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}
.ttm-pf-view-left-image .ttm-pf-single-related-wrapper h4{
    font-size: 24px;
    line-height: 34px;
}
.ttm-pf-view-left-image .ttm-btn{
    padding: 11px 30px;
}
.ttm-pf-single-related-wrapper {
    margin-top: 50px;
}
.ttm-pf-view-left-image .ttm-pf-single-content-area ,
.ttm-pf-view-top-image .ttm-pf-single-content-area {
    padding-top: 35px;
}
.ttm-pf-view-top-image .ttm-pf-single-detail-box {
    padding: 30px 30px;
    margin-top: 45px;
    height: auto;
}
.ttm-pf-view-top-image .ttm-pf-single-content-area h2{
    text-align: left;
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 15px;
}
.ttm-pf-view-left-image.style2 .ttm-pf-single-detail-box {
    padding: 60px 30px 40px 40px;
}
.ttm-pf-view-left-image.style2 .ttm-pf-single-detail-box ul {
    padding: 0;
    margin: 0;
    border: 0;
}
.ttm-pf-view-left-image.style2 .ttm-pf-single-detail-box ul li {
    padding-bottom: 20px;
}
.ttm-pf-view-left-image.style2 .ttm-pf-single-detail-box ul li span {
    flex: unset;
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}
.ttm-pf-view-left-image.style2 .ttm-pf-single-detail-box i {
    font-size: 30px;
    margin-top: 4px;
}
.ttm-pf-view-left-image.style2 .ttm-pf-single-content-area h2 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 15px;
}

/*--------------- Classic_Blog
/*------------------------------------------------------------------------------*/
article.ttm-blog-classic {
    position: relative; 
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-left: 30px;
    overflow: visible;
}
article.ttm-blog-classic:before {
    position: absolute;
    top: -300px;
    left: 0;
    bottom: -500px;
    width: 1px;
    background: #e8ecef;
    content: "";
}
article.ttm-blog-classic:last-child{ 
    margin-bottom: 15px;
}
article.ttm-blog-classic .ttm-post-featured-wrapper{ 
    position: relative; 
    overflow: hidden;
}
article.ttm-blog-classic .ttm-blog-classic-content {
    background: #fff;
    padding: 40px 0 0 0;
    position: relative;
    display: block;
}
.ttm-blog-classic .post-meta, .ttm-blog-single-content .post-meta{
    display: block;
    padding-bottom: 15px;
}
.ttm-blog-classic .post-meta .ttm-meta-line, .ttm-blog-single-content .post-meta .ttm-meta-line {
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    padding-right: 20px;
    position: relative;
}
.ttm-blog-classic .post-meta .ttm-meta-line:last-child{
    padding-right: 0;
}
.ttm-blog-classic .post-meta .ttm-meta-line:not(:last-child):after,
.ttm-blog-single-content .post-meta .ttm-meta-line:not(:last-child):after {
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    border-radius: 100%;
    top: 0px;
    right: 7px;
    display: block;
    background-color: #ddd;
}
.ttm-blog-classic .post-meta .ttm-meta-line i, .ttm-blog-single-content .post-meta .ttm-meta-line i {
    padding-right: 7px;
    font-size: 13px;
}
.ttm-blog-classic .entry-header .entry-title {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 11px;
    position: relative;
}
.ttm-blog-classic .entry-header .entry-title:before ,
.ttm-blog-classic .ttm-blog-classic-content:before {
    display: block;
    height: 100%;
    content: '';
    position: absolute;
    left: -31.5px;
    width: 4px;
    top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all .4s;
}
.ttm-blog-classic .ttm-blog-classic-content:before {
    height: 38px;
    top: 40px;
    z-index: 22;
}
.ttm-blog-classic:hover .ttm-blog-classic-content:before {
    height: 100%;
    top: 0;
}
.ttm-blog-classic .ttm-blogbox-desc-footer {
    padding-top: 10px;
    margin-top: 25px;
}
article.ttm-blog-classic .ttm-post-featured img{
    width: 100%;
    transform: scale(1.01);
    transition: all 700ms ease;
}
article.ttm-blog-classic:hover .ttm-post-featured img {
    transform: scale(1.03) rotate(0.50deg);
}
article.ttm-blog-classic .ttm-post-featured:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
article.ttm-blog-classic:hover .ttm-post-featured:after {
    opacity:1;
}
article.ttm-blog-classic .ttm-post-gallery .slick_slider .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
}