/** 
          1. ttm-row 

          2. Row-Equal-Height

          3. Bg-Layer 

          4. Row-Bg-Image

          5. Col-Bg-Image

          6. Section-Title 

          7. sep_holder

          8. Buttons

          9. Icons

          10. featured-icon-box

          11. Featured-imagebox

          12. Testimonial

          13. Client-row

          14. Pricing Plan

**/


/* ===============================================
    1.ttm-row
------------------------*/
.ttm-row{ padding: 90px 0;}
.ttm-row.features_row-section { padding: 0 0; }
.ttm-row.services-section { padding: 90px 0 0; }
.ttm-row.subscribe-section { padding: 0 0; }
.ttm-row.client-section { padding: 25px 0 30px; }


/* ===============================================
    2.Row-Equal-Height
------------------------*/
.row-equal-height{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.row-equal-height > [class*='col-'] { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* ===============================================
    3.Bg-Layer 
------------------------*/
.ttm-bg{ position: relative;}
.ttm-col-bgimage-yes{ z-index: 1; }
.bg-layer-equal-height .ttm-col-bgimage-yes, 
.bg-layer-equal-height .ttm-col-bgcolor-yes{ 
    height: 100%;
}
.ttm-bg-layer , .ttm-titlebar-wrapper .ttm-titlebar-wrapper-bg-layer, .ttm-col-wrapper-bg-layer-inner {
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0;
    left: 0;
}
.ttm-left-span > .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-left: -100px;
    right: 0;
}
.ttm-right-span > .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-right: -100px;
    right: 0;
}

.layer-content{ position: relative; z-index: 1; }

.bg-layer { position: relative; }
.bg-layer > .container > .row { margin: 0; }
.bg-layer > .container , .bg-layer > .container-fluid { padding: 0; }

.ttm-bg.ttm-bgimage-yes >.ttm-bg-layer ,
.ttm-bg.ttm-col-bgimage-yes > .ttm-bg-layer > .ttm-col-wrapper-bg-layer-inner { opacity: .8; }


/* ===============================================
    4.Row-Bg-Image  
------------------------*/
.bg-img1{
    background-image: url(../../images/corporate/bg-image/row-bgimage-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: unset;
}
.bg-img2{
    background-image: url(../../images/corporate/bg-image/row-bgimage-2.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center
}
.bg-img3{
    background-image: url(../../images/corporate/bg-image/row-bgimage-3.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: bottom;
    background-attachment: fixed;
}


/* ===============================================
    5.Col-Bg-Image  
------------------------*/
.ttm-equal-height-image{ display: none; }
.col-bg-img-one.ttm-col-bgimage-yes > .ttm-col-wrapper-bg-layer{
    background-image: url(../../images/corporate/bg-image/col-bgimage-1.jpg);
    background-position: right center;
}
.col-bg-img-two.ttm-col-bgimage-yes > .ttm-col-wrapper-bg-layer {
    background-image: url(../../images/corporate/bg-image/col-bgimage-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ===============================================
    6.Section-Title  
------------------------*/
.section-title{ 
    position: relative;
    margin-bottom: 30px;
}
.section-title h5{
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
    color: inherit;
    position: relative;
}
.section-title h2.title{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    line-height: 43px;
    margin-bottom: 0;
}
.heading-seperator span{
    position: relative;
    display: inline-block;
}
.heading-seperator span:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    width: 60px;
    height: 4px;
}
.section-title.title-style-center_text{
    text-align: center;
}
.section-title.title-style-center_text .heading-seperator span:before {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.section-title.title-style-center_text .heading-seperator span {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.section-title .title-header { padding-bottom: 10px; }
.section-title .title-desc { padding-top: 15px; }
.section-title.without-seperator{
    margin-bottom: 20px;
}
.section-title.without-seperator .title-desc{
    padding-top: 0px;
    padding-bottom: 5px;
}
.row-title .section-title h2.title{ 
    font-size: 40px;
    line-height: 50px;
}


/* ===============================================
    7.sep_holder
------------------------*/
.ttm-horizontal_sep {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    display: block;
    position: relative;
}
.ttm-bgcolor-darkgrey .ttm-horizontal_sep{
    border-top-color: rgba(255,255,255,0.08);
}
.ttm-bgcolor-white .ttm-horizontal_sep{
    border-top-color: #f1f1f1;
}
.border, .border-top, .border-left, .border-bottom, .border-right {
    border-color: #ebf0f4 !important;
}
.ttm-bgcolor-darkgrey .border,
.ttm-bgcolor-darkgrey .border-top,
.ttm-bgcolor-darkgrey .border-left,
.ttm-bgcolor-darkgrey .border-bottom,
.ttm-bgcolor-darkgrey .border-right,
.ttm-bgcolor-skincolor .border,
.ttm-bgcolor-skincolor .border-top,
.ttm-bgcolor-skincolor .border-left,
.ttm-bgcolor-skincolor .border-bottom,
.ttm-bgcolor-skincolor .border-right{
    border-color: rgba(255,255,255,0.06) !important;
}

.ttm-vertical_sep > [class*='col-']:not(:last-child):before{
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    right: 15px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.04);
}
.row.no-gutters.ttm-vertical_sep > [class*='col-']:not(:last-child):before{ right: 0; }
.ttm-bgcolor-darkgrey .ttm-vertical_sep > [class*='col-']:not(:last-child):before,
.ttm-bgcolor-skincolor .ttm-vertical_sep > [class*='col-']:not(:last-child):before {
    background-color: rgba(255,255,255,0.06);
}


/* ===============================================
    8.Buttons
------------------------*/
.ttm-btn{ 
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: normal;
    padding: 11px 32px 11px 31px;
    background: transparent; 
    border-width: 1px ;
    border-style: solid;
    border-color: #eaeff5;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.ttm-btn:not(.btn-inline)::before ,
.ttm-btn:not(.btn-inline)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255,255,255,0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-101%,0);
    transform: translate(-101%,0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.ttm-btn:not(.btn-inline)::after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.ttm-btn:not(.btn-inline):hover::before ,
.ttm-btn:not(.btn-inline):hover::after {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);  
}

.ttm-btn.ttm-icon-btn-left{ padding-left: 22px; transition: unset;}
.ttm-btn.ttm-icon-btn-right{ padding-right: 22px; transition: unset;}
.ttm-btn.ttm-icon-btn-right i{ right: 2px; }

.ttm-bgcolor-darkgrey .ttm-btn:hover.btn-inline.ttm-btn-color-skincolor{
    background-color: transparent;
    color: #fff;
}
.rev-btn.ttm-btn.ttm-btn-style-fill:hover { background-color: transparent; border-color: currentColor;}
.rev-btn.ttm-btn.ttm-btn-style-fill:before { position: unset; background-color: transparent;}

.ttm-btn-style-fill.ttm-btn-color-skincolor{
    background-size: 200% auto;
    transition: all 0.5s ease 0s;
    border: 0;
}
.ttm-btn.ttm-btn-style-fill.ttm-btn-color-skincolor:before ,
.ttm-btn.ttm-btn-style-fill.ttm-btn-color-skincolor:after{
    content: unset;
}
.ttm-btn-style-fill.ttm-btn-color-skincolor:hover {
    background-position: right center;
}

/** btn-with-icon **/
.ttm-btn i{
    display: inline-block;
    vertical-align: middle;
    text-align: inherit;
    margin-left: 10px;
    transition: .4s;
}
.ttm-btn.ttm-icon-btn-right i { text-align: right; margin-left: 10px; margin-right: 0;}
.ttm-btn.ttm-icon-btn-left i { text-align: left; margin-right: 10px; margin-left: 0;}

/** btn-size-xs **/
.ttm-btn.ttm-btn-size-xs { font-size: 11px; padding: 8px 16px;}
.ttm-btn.ttm-btn-size-xs i { font-size: 10px; line-height: 11px;}
.ttm-btn.ttm-icon-btn-right.ttm-btn-size-xs i { text-align: right; margin-left: 6px; margin-right: 0;}
.ttm-btn.ttm-icon-btn-left.ttm-btn-size-xs i { text-align: left; margin-right: 6px; margin-left: 0;}

/** btn-size-sm **/
.ttm-btn.ttm-btn-size-sm { font-size: 13px; padding: 9px 20px 9px 20px; }
.ttm-btn.ttm-btn-size-sm i { font-size: 13px; line-height: 14px;}

/** btn-size-md **/
.ttm-btn.ttm-btn-size-md { font-size: 14px; padding: 13px 28px 13px 28px;}
.ttm-btn.ttm-btn-size-md i { font-size: 14px; line-height: 15px; font-size: 16px; }

/** btn-size-lg **/
.ttm-btn.ttm-btn-size-lg { font-size: 18px; line-height: 18px; padding: 18px 35px;}
.ttm-btn.ttm-btn-size-lg i { font-size: 17px; line-height: 18px;}

/** btn-shape **/
.ttm-btn.ttm-btn-shape-round { border-radius: 2em; }
.ttm-btn.ttm-btn-shape-rounded { border-radius: 3px; }
.ttm-btn.ttm-btn-shape-square { border-radius: 0; }

/** btn-style-border **/
.ttm-btn.ttm-btn-style-border{ background-color: transparent; border: 1px solid currentColor; }
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

/** btn-inline **/
.ttm-btn.btn-inline{
    text-transform: uppercase;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.ttm-btn.btn-inline i{ 
    display: inline-block;
    vertical-align: middle;
    transition: 0s;
}
.ttm-btn.btn-inline.ttm-icon-btn-right i{ margin-left: 7px; transition: ease-in-out .3s;}
.ttm-btn.btn-inline.ttm-icon-btn-left i{ margin-right: 7px; transition: ease-in-out .3s;}
.ttm-btn.btn-inline i.fa-minus:before { height: 1px; display: block; }
.ttm-btn.btn-inline:hover { opacity: .9; }

.ttm-btn.btn-inline.ttm-icon-btn-right:hover i { margin-left: 11px!important; }
.ttm-btn.btn-inline.ttm-icon-btn-left:hover i { margin-right: 11px!important; }

/* play-btn */
.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm{
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 0;
    z-index: 2;
}
.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm i.fa-play{ 
    padding-left: 5px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}
.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-md{
    display: block;
    height: 67px;
    width: 67px;
    line-height: 67px;
    margin: 0;
    z-index: 2;
}
.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-md i.fa-play{ 
    font-size: 28px;
}
i.fa-play{ padding-left: 5px; }
.ttm-play-icon-btn .ttm-play-icon-animation{
    position: relative;
    display: inline-block;
}
.ttm-play-icon-btn .ttm-play-icon-animation .ttm-icon{ margin-bottom: 0; }
.ttm-play-icon-btn .ttm-play-icon-animation:after, .ttm-play-icon-btn .ttm-play-icon-animation:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.ttm-play-icon-btn .ttm-play-icon-animation:after{
    z-index: 1;
    width: calc(100% * 1.3 );
    height: calc(100% * 1.3 );
    opacity: .3;
    background-color: #fff;
}
.ttm-play-icon-btn .ttm-play-icon-animation:before {
    width: calc(100% * 1.6 );
    height: calc(100% * 1.6 );
    opacity: .5;
    background-color: #fff;
}
.ttm-bgcolor-skincolor .ttm-play-icon-btn .ttm-play-icon-animation:after { opacity: .1; }
.ttm-bgcolor-skincolor .ttm-play-icon-btn .ttm-play-icon-animation:before { opacity: .3;}

.ttm-play-icon-btn:hover .ttm-play-icon-animation:after, .ttm-play-icon-btn:hover .ttm-play-icon-animation:before{
    -webkit-animation:sep-anim 1.05s infinite;
    -moz-animation:sep-anim 1.05s infinite;
    -ms-animation:sep-anim 1.05s infinite;
    -o-animation:sep-anim 1.05s infinite;
    animation:sep-anim 1.05s infinite;
}
@-webkit-keyframes sep-anim{ 100% { width:200%;height:200%;opacity:0 } }
@keyframes sep-anim{ 100% { width:200%;height:200%;opacity:0 } }


/* ===============================================
    9.Icons
------------------------*/
.ttm-icon{
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid transparent;
    position: relative;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    box-sizing: content-box;
    position: relative;
}
.ttm-icon i {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/** icon-size-xs **/
.ttm-icon.ttm-icon_element-size-xs { height: 38px; width: 38px; line-height: 38px; }
.ttm-icon.ttm-icon_element-size-xs i { font-size: 18px; }

/** icon-size-sm **/
.ttm-icon.ttm-icon_element-size-sm { height: 48px; width: 48px; line-height: 48px; }
.ttm-icon.ttm-icon_element-size-sm i { font-size: 28px; }

/** icon-size-md **/
.ttm-icon.ttm-icon_element-size-md { height: 77px; width: 77px; line-height: 77px }
.ttm-icon.ttm-icon_element-size-md i { font-size: 42px; }

/** icon-size-lg **/
.ttm-icon.ttm-icon_element-size-lg { height: 88px; width: 88px; line-height: 88px; }
.ttm-icon.ttm-icon_element-size-lg i { font-size: 48px; }

/** icon-size-xl **/
.ttm-icon.ttm-icon_element-size-xl { height: 100px; width: 100px; line-height: 100px; }
.ttm-icon.ttm-icon_element-size-xl i { font-size: 58px; }

.ttm-icon.ttm-icon_element-onlytxt { height: auto; width: auto; line-height: 1;}
.ttm-icon.ttm-icon_element-onlytxt i { 
    position: unset;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

/** icon-shape **/
.ttm-icon.ttm-icon_element-style-round { border-radius: 5px; }
.ttm-icon.ttm-icon_element-style-rounded { border-radius: 50%; }
.ttm-icon.ttm-icon_element-style-square { border-radius: 0;}


/* ttm-list-style-icon */
.ttm-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.ttm-list li {
    position: relative;
    padding-bottom: 11px;
}
.ttm-list li:last-child{
    padding-bottom: 0;
}
.ttm-list.ttm-list-style-disc { 
    list-style: disc; 
    padding-left: 15px;
}
.ttm-list.ttm-list-style-square { 
    list-style: square; 
    padding-left: 15px;
}
.ttm-list.ttm-list-style-icon li i {
    position: absolute;
    left: auto;
    top: 4px;
    font-weight: 700;
}
.ttm-list.ttm-list-style-icon li i.fa-minus:before{
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    height: 2px;
    width: 7px;
    background-color: currentcolor;
}
.ttm-list.ttm-list-style-icon .ttm-list-li-content {
    display: inline-block;
    padding-left: 25px;
}


/* ===============================================
    10.featured-icon-box ( only contents )
------------------------*/
.featured-icon-box { position: relative; margin: 15px 0; }
.featured-icon-box .ttm-icon{ margin-bottom: 0; }
.featured-title h5{ font-size: 20px; line-height: 26px; margin-bottom: 12px; font-weight: 700; text-transform: capitalize;}

.featured-icon-box.icon-align-before-content .featured-icon,
.featured-icon-box.icon-align-before-content .featured-content,
.featured-icon-box.icon-align-before-title .featured-title,
.featured-icon-box.icon-align-before-title .featured-icon {
    display: table-cell;
    vertical-align: middle;
}
.featured-icon-box.icon-align-before-content .featured-icon i { display: inline-block; vertical-align: middle; }
.featured-icon-box.icon-align-before-content.icon-ver_align-top .featured-icon {
    vertical-align: top;
    padding-top: 5px;
}
.featured-icon-box.icon-align-before-content .featured-content, 
.featured-icon-box.icon-align-before-title .featured-title{ padding-left: 15px; }
.featured-icon-box.icon-align-before-content .featured-title h5 { margin-bottom: 6px; }
.featured-icon-box.icon-align-before-title .featured-title h5{ margin-bottom: 0; }
.featured-icon-box.icon-align-before-content .featured-content .featured-desc p{ 
    margin-bottom: 0;
}
.featured-icon-box.icon-align-before-title .featured-content{ margin-top: 15px; }
.featured-icon-box.icon-align-top-content .featured-content { padding-top: 15px; }

.container{ counter-reset: featuredbox-number; }
.featuredbox-number .ttm-num:before{ 
    counter-increment: featuredbox-number; 
    content: counter(featuredbox-number, decimal-leading-zero) " " ; 
}


/* style1 */
.featured-icon-box.icon-align-top-content.box-style1 {
    padding: 45px 45px 35px;
    z-index: 11;
    margin: 0;
    text-align: center;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.featured-icon-box.icon-align-top-content.box-style1 .ttm-icon i { 
    font-size: 50px;
    margin-bottom: -5px;
}
.featured-icon-box.icon-align-top-content.box-style1 .featured-title h5{
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 35px;
    position: relative;
}
.featured-icon-box.icon-align-top-content.box-style1 .featured-title h5:after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    right: 0;
    width: 70%;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    background-color: #e9e9e9;
    transition: all .4s;
}
.featured-icon-box.icon-align-top-content.box-style1:hover .featured-title h5:after{
    width: 100%;
    transition-delay: .4s;
}
.featured-icon-box.icon-align-top-content.box-style1:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -1;
    transition: all 0.4s linear;
}
.featured-icon-box.icon-align-top-content.box-style1:hover:before {
    width: 100%;
}


/* style4 */
.featured-icon-box.icon-align-top-content.box-style2 { 
    padding: 25px 25px 29px;
    text-align: left;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(43,52,59,.08);
    border-bottom: 2px solid transparent;
}
.featured-icon-box.icon-align-top-content.box-style2:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
.featured-icon-box.icon-align-top-content.box-style2:hover:before {
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon,
.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon:after,
.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon i:after{
    width: 50px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 2px;
    position: relative;
}
.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon:after,
.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon i:after{
    position: absolute;
    content: "";
    top: -15px;
    left: -15px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    z-index: -2;
    background-repeat: no-repeat;
    -webkit-mask-box-image: url(../../images/corporate/step-iconbg.svg);
    transition: opacity 0.4s linear;
}
.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon:after{
    top: 0;
    left: 0;
}
.featured-icon-box.icon-align-top-content.box-style2:hover .ttm-icon:after{
    -webkit-animation:lightSpeedOut  1.05s infinite;
    -moz-animation:lightSpeedOut  1.05s infinite;
    -ms-animation:lightSpeedOut  1.05s infinite;
    -o-animation:lightSpeedOut  1.05s infinite;
    animation:lightSpeedOut  1.05s infinite;
}
@-webkit-keyframes scaling{ 100% { width:200%;height:200%;opacity:0 } }
@keyframes scaling{ 100% { width:200%;height:200%;opacity:0 } }

.featured-icon-box.icon-align-top-content.box-style2 .ttm-icon i{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Lato",Arial,Helvetica,sans-serif;
}
.featured-icon-box.icon-align-top-content.box-style2 .featured-desc {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}


.featured-icon-box.icon-align-before-content.box-style3 { padding: 10px 0; }
.featured-icon-box.icon-align-before-content.box-style3 .featured-icon{
    padding-right: 20px;
}
.featured-icon-box.icon-align-before-content.box-style3:last-child{ padding-bottom: 0; margin-bottom: 0;}
.featured-icon-box.icon-align-before-content.box-style3 .featured-icon .ttm-icon{
    height: 60px;
    width: 60px;
    line-height: 60px;
}
.featured-icon-box.icon-align-before-content.box-style3 .featured-icon .ttm-icon i{
    font-size: 30px;
}
.featured-icon-box.icon-align-before-content.box-style3 .featured-icon:before  {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: 15px;
    z-index: -1;
    background-image: -webkit-gradient(linear,left top,bottom top,color-stop(26%,#eeeeee),color-stop(0%,#fff));
    background-image: linear-gradient(to bottom,#eeeeee 60%,#fff 0%);
    background-size: 10px 12px;
    width: 2px;
    height: 100%;
}
.featured-icon-box.icon-align-before-content.box-style3:last-child .featured-icon:before  { content: unset;}


/* ===============================================
    11.featured-imagebox ( contents with image)
------------------------*/
.featured-imagebox,
.featured-imagebox .featured-thumbnail { 
    position: relative;
    overflow: hidden;
}
.featured-imagebox { margin: 15px 0; }
.slick_slider .featured-imagebox { margin-bottom: 0; }
.featured-imagebox .featured-content .featured-title h5 {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.featured-imagebox .featured-content .category, .featured-imagebox .featured-content .category a {
    font-size: 14px;
    line-height: 15px;
    display: inline-block;
}
.featured-imagebox .featured-thumbnail img{
    width: 100%;
    transform: scale(1.01);
    transition: all 700ms ease;
}
.featured-imagebox:hover .featured-thumbnail img{
    -webkit-transform: scale(1.07) rotate(0.5deg);
    -ms-transform: scale(1.07) rotate(0.5deg);
    -moz-transform: scale(1.07) rotate(0.5deg);
    transform: scale(1.07) rotate(0.5deg);
}
.ttm-box-view-overlay , .ttm-box-view-content-inner{ position: relative; }
.ttm-box-view-overlay:before, .ttm-box-view-content-inner:before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba( 35,39,51,0.80);
}
div:hover > .ttm-box-view-overlay:before, div:hover > .ttm-box-view-content-inner:before{
    opacity: 1;
    visibility: visible;
}


/* ===============================================
    12.Testimonial
------------------------*/
.testimonials{
    position: relative;
}
.testimonials .testimonial-caption h5 {
    font-size: 20px;
    line-height: 30px;
    display: block;
    font-weight: 700;
    margin-bottom: 0;
}
.testimonial-caption label { 
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.testimonials .testimonial-content blockquote{
    padding: 10px 25px;
    font-size: 20px;
    position: relative;
    line-height: 32px;
    font-style: italic;
    margin: 0;
}
.star-ratings ul{ padding: 0; margin: 0;}
.star-ratings li{
    font-size: 13.8px;
    min-width: 14px;
    display: inline-block;
    color: #e0e8f0;
}
.star-ratings ul li.active , .star-ratings ul li.active i{ color: #fd4;}


/* ttm-testimonial-box-view-style3 */
.testimonials.ttm-testimonial-box-view-style3 {
    text-align: center;
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-img{
    width: 130px;
    height: 130px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    transition: opacity 400ms;
    transform: translateZ(0)!important;
    -webkit-transform: translateZ(0);
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-content{ 
    padding: 0;
    margin: 0;
    position: relative;
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-content .testimonial-caption h5{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-content blockquote{
    padding: 0 0 20px;
    text-align: center;
    font-size: 19px;
    line-height: 29px;
    font-weight: 400;
    padding-top: 40px;
    color: rgb(93, 101, 114);
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-content .quote-icon {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
    transform: translateY(5px);
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-content .quote-icon:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    width: 83px;
    height: 83px;
    text-align: center;
    background-image: url(../../images/corporate/quoteicon.svg);
    z-index: 11;
}
.testimonials.ttm-testimonial-box-view-style3 .testimonial-content .quote-icon::after {
    display: block;
    content: "";
    position: absolute;
    width: 63px;
    height: 72px;
    bottom: 5px;
    left: 0;
    right: -10px;
    z-index: 9;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonials .testimonial-content .star-ratings { line-height: 27px; font-size: 10px; }
.testimonials .testimonial-content .star-ratings ul{ display: block; padding: 0; margin: 0; }
.testimonials .testimonial-content .star-ratings ul li{ display: inline-block; }
.testimonials .testimonial-content .star-ratings ul li i{ font-size: 13px; color: #f4c627;}


/* ===============================================
    13.Client-row  
------------------------*/
.client-box{ 
    position: relative;
    text-align: center;
}
.client-box .ttm-client-logo-tooltip{ 
    margin-top: 45px; 
    margin-bottom: 30px;
}
.client-box .ttm-client-logo-tooltip,
.client-box .ttm-client-logo-tooltip-inner{
    position: relative;
    text-align: center;
}
.client-box .ttm-client-logo-tooltip img{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.client-box .ttm-client-logo-tooltip .client-thumbnail_hover{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.client-box:hover .ttm-client-logo-tooltip .client-thumbnail_hover {
    bottom: 0;
}

/* ===============================================
    14.Pricing-Plan
------------------------*/
.ttm-pricing-plan {
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(3, 27, 78, 0.08);
    border-radius: 6px;
    margin: 15px 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.ttm-pricing-plan:hover {
    box-shadow: 2px 1px 4px rgb(0 0 0 / 20%);
}
.ttm-pricing-plan .ttm-p_table-head {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}
.ttm-pricing-plan .ttm-p_table-head:after, 
.ttm-pricing-plan .ttm-p_table-head:before {
    display: block;
    content: "";
    position: absolute;
    background-color: rgba(237,237,237,.5)
    width: 112px;
    height: 112px;
    border-radius: 50%;
    z-index: 9;
}
.ttm-pricing-plan .ttm-p_table-head:before {
    top: -22px;
    right: auto;
    left: -22px;
}
.ttm-pricing-plan .ttm-p_table-head:after {
    top: auto;
    bottom: -26px;
    left: auto;
    right: -27px;
}
.ttm-pricing-plan.pricing-recommended-plan .ttm-p_table-head:after ,
.ttm-pricing-plan.pricing-recommended-plan .ttm-p_table-head:before {
    background-color: rgba(237, 237, 237, 0.10)
}
.ttm-p_table-title h3 {
    font-size: 23px;
    line-height: 28px;
    margin-top: 5px;
    font-weight: 600;
}
.ttm-p_table-icon i {
    display: inline-block;
    font-size: 48px;
    line-height: 1;
}
.ttm-p_table-amount .cur_symbol {
    font-size: 26px;
    font-weight: 600;
    color: #333333;
}
.ttm-p_table-amount, .ttm-p_table-price {
    font-size: 45px;
    line-height: 40px;
    font-weight: 600;
    color: #333333;
}
.ttm-p_table-amount .pac_frequency {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.ttm-p_table-body {
    padding: 0 30px 0;
    transition: all 0.5s ease;
    position: relative;
}
.ttm-p_table-features {
    list-style-type: none;
    position: relative;
    margin: 10px 0;
    padding: 10px 0px 10px;
}
.ttm-p_table-features li {
    font-size: 16px;
    line-height: 25px;
    padding: 12px 0px 11px;
    margin: 0 -30px;
}
.ttm-p_table-footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    transition: all 0.5s ease;
}
.ttm-p_table-footer .ttm-btn{
    padding: 12px 20px 13px
}